body {
    background-color: rgba(233, 240, 235, 0.644);
    font-family: Verdana, Arial;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: skyblue;
}

header h1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    color: black;
    box-shadow: 0 0 10px black;
}

main {
    width: 100%;
    position: relative;
    top: 100px;
    left: 0;
}

main section {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section article {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin: 10px 0;
}

section article div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Courier New", Courier, monospace;
}

section article div h3 {
    margin: 10px 0;
    font-weight: 600;
    font-size: 18px;
}

section article div img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

section article div p {
    margin-top: 10px;
    font-size: 14px;
    font-style: italic;
}

section article div p {
    margin-top: 10px;
}

section article .content {
    width: 100%;
    text-wrap: rap;
    text-align: justify;
    padding: 12px;
}
